<link rel="stylesheet" href="/css/location/index.css">

<div id="banner" class="banner valign-wrapper">
    <div class="banner-text">
        <div class="row center">
            <div class="col s10 m8 offset-s1 offset-m2">
                <h1>CARDIFF</h1>
                <p>Whether you're interested in ancient history, getting stuck into some sporting activites, or simply
                    taking advantage of the abundance of shops, the thriving city of Cardiff has something to offer
                    everyone!</p>
                <button href="#overview" class="btn anchor-link">READ MORE</button>
            </div>
        </div>
    </div>
</div>

<!-- OVERVIEW SECTION -->
<div id="overview" class="anchor"></div>
<div data-aos="fade-up" data-aos-delay="300" data-aos-duration="500">
    <div class="row">
        <div class="col s12 center">
            <h3>The Capital City of Wales</h3>
        </div>
    </div>
    <div class="row">
        <div class="col s10 m8 l6 offset-s1 offset-m2 offset-l3">
            <p>Spread between an ancient fort and modern waterfront, Cardiff has materialised into one of Britains
                leading Cities. It offers an amazing blend of old and new, where modern architecture such as the
                Principality Stadium sits just a stones throw from the iconic medievil castle dating back to the
                3rd century.</p>
            <p>There's a constant buzz as thousands of shoppers decend upon the streets on the weekends, before the
                crowds are drawn in to enjoy the incredible nightlife the capital has to offer with its thriving pubs,
                bars and live music venues.</p>
            <p>Cardiff also acts as a central hub from which you can travel with ease to various surrounding locations
                where you will find the breathtaking valleys or beautiful coastline, offering castles, beaches, ancient
                monuments and so much more.</p>
        </div>
    </div>
</div>

<!-- MAP SECTION -->
<div data-aos="fade-right" data-aos-delay="300" data-aos-duration="500">
    <div class="row">
        <div class="col s12 center">
            <h3>Find Us</h3>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39758.225158480636!2d-3.213404754191167!3d51.47855040734237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486e1cb1759707a3%3A0xaf4b55de99943e9e!2sBunkhouse!5e0!3m2!1sen!2suk!4v1568144753668!5m2!1sen!2suk"
                width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </div>
</div>

<!-- TRAVEL SECTION -->
<div data-aos="fade-down" data-aos-delay="300" data-aos-duration="500">
    <div class="row">
        <div class="col s12 center">
            <h3>Getting Here</h3>
        </div>
    </div>
    <div id="travel-block">
        <div class="row">
            <div class="col s12 m10 l8 offset-m1 offset-l2">
                <div class="col s12 m12 l6">
                    <div class="valign-wrapper">
                        <img src="/assets/images/icons/png/057-plane.png" alt="Plane"><span>By plane</span>
                    </div>
                    <p>The T9 bus service runs directly from Cardiff Airport to Cardiff City Centre. The
                        bus stop is situated just outside the terminal and drops you off at Canal Street. From there,
                        head north and take a left onto Hayes Bridge Road. Follow for approximately 250ft before taking
                        a left onto Caroline Street. After approximately 500ft, take a right onto St Mary Street and
                        BunkHouse is approximately 500ft on the left.</p>
                    <p>Services run every half hour and it's free to travel on weekends. More information can be found
                        <a href="https://www.cardiff-airport.com/by-bus/" target="_blank">here.</a></p>
                </div>
                <div class="col s12 m12 l6">
                    <div class="valign-wrapper">
                        <img src="/assets/images/icons/png/055-car.png" alt="Car"><span>By car</span>
                    </div>
                    <p>Finding us by car is easy as we're in the city centre. However, we do not have on site parking so
                        you have to aim for a parking spot and walk to us. Cardiff Central Station offers 24 hour
                        parking for £12.50. Once parked, walk north up Penarth Road for approximately 500ft then take a
                        left onto St Mary Street. Keep walking up St Mary Street for approximately 0.2 miles and we are
                        on the left.</p>
                    <p>Other parking options are available but the station is the cheapest - Check out <a
                            href="https://en.parkopedia.com/parking/locations/cardiff_cardiff_wales_united_kingdom_6ig6gcjszeuyr7v47a/"
                            target="_blank">Parkopedia</a> for more options.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m10 l8 offset-m1 offset-l2">
                <div class="col s12 12 l6">
                    <div class="valign-wrapper">
                        <img src="/assets/images/icons/png/056-train.png" alt="Train"><span>By train</span>
                    </div>
                    <p>Cardiff Central Station is situated just 0.2 miles from BunkHouse. Leaving the station at the
                        main entrance, head north-east and take a left onto Great Western Lane. From there it's a
                        approximately a 400ft walk before taking a right onto Wood Street followed shortly by a left
                        onto St Mary Street. Head up St Mary Street for approximately 300ft and we are on the left.</p>
                    <p>For more travel details and ticket information, click <a
                            href="https://www.thetrainline.com/destinations/trains-to-cardiff" target="_blank">here.</a>
                    </p>
                </div>
                <div class="col s12 12 l6">
                    <div class="valign-wrapper">
                        <img src="/assets/images/icons/png/058-bus.png" alt="Bus"><span>By bus</span>
                    </div>
                    <p>Due to the redevelopment of Central Square, Cardiff Bus Station on Wood
                        Street has been closed for some time and some routes have changed. Please visit <a
                            href="https://www.cardiffbus.com/">Cardiff Bus</a> for more information.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- WHAT TO DO SECTION -->
<div data-aos="zoom-in" data-aos-delay="300" data-aos-duration="500">
    <div class="row">
        <div class="col s12 center">
            <h3>Things To Do</h3>
        </div>
    </div>
    <!-- ATTRACTIONS -->
    <div class="row">
        <div class="col s10 m10 l5 offset-s1 offset-m1 offset-l1">
            <div class="slider">
                <ul class="slides">
                    <li>
                        <img src="/assets/images/location/cardiff-castle.jpg">
                        <div class="caption left-align">
                            <h4>Cardiff Castle</h4>
                        </div>
                    </li>
                    <li>
                        <img src="/assets/images/location/cardiff-museum.jpg">
                        <div class="caption right-align">
                            <h4>Cardiff Museum</h4>
                        </div>
                    </li>
                    <li>
                        <img src="/assets/images/location/bute-park.jpg">
                        <div class="caption left-align">
                            <h4>Bute Park</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col s10 m10 l5 offset-s1 offset-m1">
            <h4>Attractions</h4>
            <p>There are so many amazing places to visit in Cardiff. Here are a few of our favourites:</p>
            <p><i class="fas fa-hand-point-right"></i>Cardiff Castle: Boasting a 2000 year history, Cardiff Castle has
                transformed from a Roman fort, Norman stronghold, to a Victorian Gothic masterpiece. There are plenty of
                tours on offer as well as free audio guides. The castle is a must see for anyone visiting the city.</p>
            <p><i class="fas fa-hand-point-right"></i>Cardiff Museum: Showcasing Wales's national art, natural history
                and geology exhibitions, and temporary exhibitions, there's something for everyone at Cardiff Museum no
                matter what your interest. Best of all, it's absolutely free!</p>
            <p><i class="fas fa-hand-point-right"></i>Bute Park: One of the UK's largest and most beautiful parks, Bute
                Park is the green heart of Cardiff. A beautiful location to escape the hustle and bustle of the city
                centre and relax surrounded by woodland and wildlife.</p>
        </div>
    </div>
    <!-- SHOPPING -->
    <div class="row">
        <div class="col s10 m10 l5 offset-s1 offset-m1 offset-l1">
            <h4>Shopping</h4>
            <p>Cardiff City is firmly on the map as one of the best retail hotspots in the UK.</p>
            <p><i class="fas fa-hand-point-right"></i>St Davids: Wales' leading shopping destination receiving over 40
                million shoppers each year! There are over 180 shops, cafes and restaurants to explore so it's a great
                destination for a day out.</p>
            <p><i class="fas fa-hand-point-right"></i>The Hayes: Joining the old Victorian and Edwardian arcades with
                the ultra modern St Davids shopping centre, the Hayes is a busy shopping thoroughfare in the city. As
                well as designer stores and boutiques, the Hayes offers a view of some of Cardiff's oldest and historic
                buildings.</p>
            <p><i class="fas fa-hand-point-right"></i>The Arcades: One of Cardiff's finest assets, the victorian
                arcades have been attracting shoppers for over a century. You'll find everything from delicatessens to
                cute little tea rooms, music shops to trendy barbers. Christmas is an especially magical time to visit
                the arcades.</p>
        </div>
        <div class="col s10 m10 l5 offset-s1 offset-m1">
            <div class="slider">
                <ul class="slides">
                    <li>
                        <img src="/assets/images/location/st-davids-shopping.jpg">
                        <div class="caption left-align">
                            <h4>St Davids Shopping Centre</h4>
                        </div>
                    </li>
                    <li>
                        <img src="/assets/images/location/the-hayes-shopping.jpg">
                        <div class="caption right-align">
                            <h4>The Hayes</h4>
                        </div>
                    </li>
                    <li>
                        <img src="/assets/images/location/arcades-shopping.jpg">
                        <div class="caption center-align">
                            <h4>The Arcades</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="/js/location/index.js"></script>