<link rel="stylesheet" href="/css/partials/footer.css">

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div id="footer-image" class="col m2 nopad">
                <img src="/assets/images/logo-white-yellow.png" alt="logo" width="100%;">
            </div>
            <div class="col s6 m4 offset-m1 nopad">
                <h5>Attention</h5>
                <p>You MUST bring a form of photo ID with you (Passport, drivers
                    licence etc). If you fail to bring ID we cannot allow you to stay.</p>
            </div>
            <div class="col s6 m4 offset-m1 nopad">
                <h5 class="white-text">Contact</h5>
                <p><b>Address</b></p>
                <div id="address">
                    <p>94 St Mary Street,</p>
                    <p>Cardiff,</p>
                    <p>CF10 1DX</p>
                </div>
                <p><b>Telephone</b></p>
                <p>029 2022 8587</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Copyright © 2021 BunkHouse. All rights reserved.
        </div>
    </div>
</footer>