<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BunkHouse</title>

    <!-- CSS files -->
    <link rel="stylesheet" href="/css/external/materialize.css">
    <link rel="stylesheet" href="/css/external/fontawesome/css/all.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/root.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/components/buttons.css">

    <!-- External JS files -->
    <script src="/js/external/jquery.js"></script>
    <script src="/js/external/materialize.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>
    {{> _header}}
    <main>
        {{{body}}}
    </main>
    {{> _footer}}
</body>

<!-- My JS files -->
<script src="/js/root.js"></script>

</html>