<link rel="stylesheet" href="/css/index/index.css">

<div id="banner" class="banner valign-wrapper">
    <div class="banner-text">
        <div class="row center">
            <div class="col s10 m8 offset-s1 offset-m2">
                <h1>BUNKHOUSE</h1>
                <p>Located in the heart of Cardiff City Centre, BunkHouse offers affordable, clean and safe
                    accommodation to the many backpackers that visit Cardiff every year.</p>
                <button href="#about" class="btn anchor-link">READ MORE</button>
            </div>
        </div>
    </div>
</div>

<!-- ABOUT -->
<div id="about" class="anchor"></div>
<div data-aos="fade-up" data-aos-delay="300" data-aos-duration="500">
    <div class="row">
        <div class="col s12 center">
            <h3>About Us</h3>
        </div>
    </div>
    <div id="about-block" class="row">
        <div class="col s10 m8 l6 offset-s1 offset-m2 offset-l3">
            <p id="expand"><i class="fas fa-angle-double-down"></i>Our philosophy at BunkHouse is simple. We pride
                ourselves on offering great and friendly service, clean and comfortable accommodation, while allowing
                you to relax in the best atmosphere and place you could imagine.</p>
            <div id="about-more">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse maximus, erat id mattis
                    volutpat, lectus neque molestie leo, et tempus neque massa fermentum tellus. Pellentesque eros diam,
                    vestibulum in convallis at, convallis efficitur nisi. Phasellus bibendum augue vitae nunc tristique
                    volutpat. Vestibulum laoreet metus nibh, non consectetur justo egestas in. Nunc nec orci nec dui
                    luctus porttitor at in urna. Sed id vulputate sapien. Aliquam eu ornare massa. Morbi vitae nibh at
                    felis auctor dignissim et eu purus. Duis id blandit nibh. Etiam volutpat, dui vitae porta volutpat,
                    enim orci varius libero, quis malesuada magna ipsum vitae nunc.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse maximus, erat id mattis
                    volutpat, lectus neque molestie leo, et tempus neque massa fermentum tellus. Pellentesque eros diam,
                    vestibulum in convallis at, convallis efficitur nisi. Phasellus bibendum augue vitae nunc tristique
                    volutpat. Vestibulum laoreet metus nibh, non consectetur justo egestas in. Nunc nec orci nec dui
                    luctus porttitor at in urna. Sed id vulputate sapien. Aliquam eu ornare massa. Morbi vitae nibh at
                    felis auctor dignissim et eu purus. Duis id blandit nibh. Etiam volutpat, dui vitae porta volutpat,
                    enim orci varius libero, quis malesuada magna ipsum vitae nunc.</p>
            </div>
        </div>
    </div>
</div>

<!-- ROOMS -->
<div data-aos="fade-right" data-aos-delay="300" data-aos-duration="500">
    <div class="row">
        <div class="col s12 center">
            <h3>Our Rooms</h3>
        </div>
    </div>
    <div id="rooms-block" class="row">
        <div class="col s12 m10 offset-m1">
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/assets/images/index/banner-image-1.jpg">
                    </div>
                    <div class="card-content center">
                        <h4 class="card-title activator">Mixed Dormitory</h4>
                        <a>
                            <p class="activator">About</p>
                        </a>
                    </div>
                    <div class="card-reveal">
                        <h4 class="card-title">Mixed Dormitory<i class="material-icons right">close</i></h4>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/assets/images/index/banner-image-3.jpg">
                    </div>
                    <div class="card-content center">
                        <h4 class="card-title activator">Female Only</h4>
                        <a>
                            <p class="activator">About</p>
                        </a>
                    </div>
                    <div class="card-reveal">
                        <h4 class="card-title">Female Only<i class="material-icons right">close</i></h4>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4 offset-m3">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/assets/images/index/banner-image-2.jpg">
                    </div>
                    <div class="card-content center">
                        <h4 class="card-title activator">Male Only</h4>
                        <a>
                            <p class="activator">About</p>
                        </a>
                    </div>
                    <div class="card-reveal">
                        <h4 class="card-title">Male Only<i class="material-icons right">close</i></h4>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FACILITIES & SERVICES -->
<div data-aos="fade-down" data-aos-delay="300" data-aos-duration="500">
    <div class="row">
        <div class="col s12 center">
            <h3>Facilities & Services</h3>
        </div>
    </div>
    <div id="facilities-block" class="row">
        <div class="col s12 m10 l8 offset-m1 offset-l2">
            {{!-- <div class="col s12 m6 l4">
                <div class="card-panel">
                    <div class="valign-wrapper">
                        <img src="/assets/images/icons/png/005-breakfast-4.png" alt="breakfast"><span>Free
                            Breakfast</span>
                    </div>
                    <br>
                    <div class="valign-wrapper">
                        <img src="/assets/images/icons/png/004-coffee-cup.png" alt="coffee cup"><span>Free Tea and
                            Coffee</span>
                    </div>
                    <br>
                    <div class="valign-wrapper">
                        <img src="/assets/images/icons/png/047-television.png" alt="television"><span>Chillout
                            Area</span>
                    </div>
                    <br>
                    <div class="valign-wrapper">
                        <img src="/assets/images/icons/png/051-cinema.png" alt="cinema"><span>Cinema Room</span>
                    </div>
                </div>
            </div> --}}
            <div class="col s12 m6">
                <div class="card-panel">
                    <div class="valign-wrapper">
                        <img src="/assets/images/icons/png/052-locker.png" alt="lockers"><span>Secure Lockers</span>
                    </div>
                    <br>
                    <div class="valign-wrapper">
                        <img src="/assets/images/icons/png/048-smartphone.png" alt="wifi"><span>Free WiFi</span>
                    </div>
                    <br>
                    <div class="valign-wrapper">
                        <img src="/assets/images/icons/png/028-map.png" alt="tourist information"><span>Tourist
                            Information</span>
                    </div>
                    <br>
                    <div class="valign-wrapper">
                        <img src="/assets/images/icons/png/010-24-hours.png" alt="24 hour reception"><span>24 Hour
                            Access</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card-panel">
                    <div class="valign-wrapper">
                        <img src="/assets/images/icons/png/016-washing-machine.png" alt="laundry"><span>Laundry
                            Service</span>
                    </div>
                    <br>
                    <div class="valign-wrapper">
                        <img src="/assets/images/icons/png/053-security-camera.png" alt="security"><span>24 Hour
                            Security</span>
                    </div>
                    <br>
                    <div class="valign-wrapper">
                        <img src="/assets/images/icons/png/054-travel-case.png" alt="bag storage"><span>Free bag
                            Storage</span>
                    </div>
                    <br>
                    <div class="valign-wrapper">
                        <img src="/assets/images/icons/png/029-towels.png" alt="towels"><span>Towel Hire</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- IMPORTANT INFORMATION -->
<div data-aos="zoom-in" data-aos-delay="300" data-aos-duration="500">
    <div class="row">
        <div class="col s12 center">
            <h3>Important Information</h3>
        </div>
    </div>
    <div id="important-block" class="row">
        <div class="col s10 m8 l6 offset-s1 offset-m2 offset-l3">
            <p><b>Reception Times:</b> 24 hours</p>
            <p><b>Check in:</b> From 14:00</p>
            <p><b>Check out:</b> Before 10:00</p>
            <p><b>Towels and toiletries:</b> Towels and toiletries are available to hire from the reception desk</p>
            <p><b>Parking:</b> There is no parking on site at BunkHouse. However, there are ample pay and display car
                parks
                within short walking distance</p>
            <p><b>Wi-Fi:</b> Our Wi-Fi is free access and available in the communal area downstairs</p>
            {{!-- <p><b>Breakfast:</b> Breakfast is served from 07:00 til 09:00</p> --}}
        </div>
    </div>
</div>

<!-- GUEST REVIEWS -->
<div data-aos="zoom-in-up" data-aos-delay="300" data-aos-duration="500">
    <div class="row">
        <div class="col s10 offset-s1 center">
            <h3>Guest Reviews</h3>
            <p>Just a few of the happy guests who loved their stay at BunkHouse!</p>
        </div>
    </div>
    <div id="reviews-block" class="row">
        <div class="col s12 m10 offset-m1 nopad">
            <div class="col s12 m6 l3">
                <div class="card-panel center">
                    <h5>Bunk House the Big House!</h5>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <br>
                    <span>The check in was super fast! They have a massive basement with a movie theater and it’s a
                        great
                        place to hang out and meet new people. If your lookin to meet other backpackers in the dorms
                        this is
                        definitely the place to go! The staff was super super friendly and told me the best places to
                        eat
                        and drink in Cardiff city center and the bay!</span>
                    <br>
                    <br>
                    <span><b>Thomas, United States</b></span>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card-panel center">
                    <h5>Superb</h5>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <br>
                    <span>It's a hostel and it's cheap, I did not have much expectations .. but.. I was pleasantly
                        surprised.. clean, quiet, good facilities and breakfast included too! Let alone the excellent
                        position, in the city centre yet by the station.. good deco and good vibe.</span>
                    <br>
                    <br>
                    <span><b>MC, Italy</b></span>
                </div>
            </div>
            <div id="review-break" class="col s12 hidden"></div>
            <div class="col s12 m6 l3">
                <div class="card-panel center">
                    <h5>Exceptional</h5>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <br>
                    <span>Location was perfect and staff were very friendly and helpful! Very cool space too, the common
                        area is very nice and chill.</span>
                    <br>
                    <br>
                    <span><b>Hannah, Ireland</b></span>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card-panel center">
                    <h5>Amazing!</h5>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <br>
                    <span>I came not expecting much, because I booked the bed with really cheap price, but everything
                        exceeded my expectation! The staff were lovely, the room was spacy (and each room had private
                        bathroom!). Breakfast included bread, many choices of jam, cereal, tea and coffee. The kitchen
                        looked like a fun place to meet new friends as well.</span>
                    <br>
                    <br>
                    <span><b>Linh, United Kingdom</b></span>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/index/index.js"></script>