<link rel="stylesheet" href="/css/terms/index.css">

<div class="container">

    <div id="terms-container">
        <div class="row">
            <div class="col s12">
                <h3>Terms and Conditions</h3>
            </div>
            <div class="col s12">
                <span>Before you confirm your booking, remember that we are a backpackers hostel and not a hotel.</span>
                <span>If you have not stayed in a backpackers hostel before, please have a look into what that might
                    entail.</span>
                <span>Check-in starts at 2pm. Check-out is at 10am.</span>
                <span>There is a minimum of a two night stay on weekends (Thursday-Friday, Friday-Saturday,
                    Saturday-Sunday)</span>
                <span>Everyone must be over the age of 18 and bring a photographic drivers license or passport in order
                    to stay. This is non-negotiable.</span>
                <span>A £5 cash key deposit is to be paid by each person upon check-in so please have this ready.</span>
                <span>If you check-out late or lose/break your key, the key deposit will not be refunded.</span>
                <span>Groups of 6 or more must book directly through us via email and book out whole dormitories. Any
                    groups adding additional beds via third party booking websites may have their whole booking
                    cancelled but will still be charged. </span>
                <span>All cancellations must be made and confirmed via email.</span>
                <span>We do allow well behaved stag/hen parties but please understand that we are not a party hostel and
                    any anti-social behaviour will not be tolerated.</span>
                <span>Please see below for group terms and please contact us if you have any questions.</span>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <h3>Individuals and Groups Under 6 People</h3>
            </div>
            <div class="col s12">
                <span>Cancellations must be made by 2pm, 48 hours before the day of your arrival.</span>
                <span>Cancellations after this time will be charged the full amount of the first nights stay. No-Shows
                    are treated as late cancellations.</span>
                <span>Deposits are non-refundable or transferable.</span>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <h3>Groups Between 6 - 25 People</h3>
            </div>
            <div class="col s12">
                <span>A 10 % deposit must be paid to secure your booking.</span>
                <span>Cancellations must be made by 2pm, 14 days before the day of your arrival.</span>
                <span>Cancellations after this time will be charged the full amount of the first nights stay. No-Shows
                    are treated as late cancellations.</span>
                <span>Deposits are non-refundable or transferable.</span>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <h3>Groups of 25 People or More</h3>
            </div>
            <div class="col s12">
                <span>A 25 % deposit must be paid to secure your booking.</span>
                <span>Cancellations must be made by 2pm, 28 days before the day of your arrival.</span>
                <span>Cancellations after this time will be charged the full amount of the first nights stay. No-Shows
                    are treated as late cancellations.</span>
                <span>Deposits are non-refundable or transferable.</span>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <h3>ATTENTION!</h3>
            </div>
            <div class="col s12">
                <span>A photographic drivers license or passport must be shown by all guests in order to stay.</span>
            </div>
        </div>
    </div>

</div>